@charset "UTF-8";

p {
  max-width: 600px;
}

img {
  width: 100%;
  max-width: 600px;
}

/* ローディング画面のスタイル */
#loading {
  /* 全画面を覆う */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* 中央配置 */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0bd;

  /* フェードアウトのアニメーション */
  transition: 2s ease;
  z-index: 9999;
}

.spinner {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 100%;
  animation: sk-scaleout 3s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
    opacity: 0;
  }
}

/* ローディング完了時 */
.loaded {
  opacity: 0;
  visibility: hidden;
}

.atom-spinner, .atom-spinner * {
      box-sizing: border-box;
    }

    .atom-spinner {
      height: 60px;
      width: 60px;
      overflow: hidden;
    }

    .atom-spinner .spinner-inner {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
    }

    .atom-spinner .spinner-circle {
      display: block;
      position: absolute;
      color: #0060f1;
      font-size: calc(60px * 0.24);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .atom-spinner .spinner-line {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border-left-width: calc(60px / 25);
      border-top-width: calc(60px / 25);
      border-left-color: #0060f1;
      border-left-style: solid;
      border-top-style: solid;
      border-top-color: transparent;
    }

    .atom-spinner .spinner-line:nth-child(1) {
      animation: atom-spinner-animation-1 1s linear infinite;
      transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
    }

    .atom-spinner .spinner-line:nth-child(2) {
      animation: atom-spinner-animation-2 1s linear infinite;
      transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
    }

    .atom-spinner .spinner-line:nth-child(3) {
      animation: atom-spinner-animation-3 1s linear infinite;
      transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
    }

    @keyframes atom-spinner-animation-1 {
      100% {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
      }
    }

    @keyframes atom-spinner-animation-2 {
      100% {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
      }
    }

    @keyframes atom-spinner-animation-3 {
      100% {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
      }
    }